.trainers{
    width: 35%;
    height: 35%;
}

.fotosEntrenadores {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 20px;
}

.contHorarios, .contTarifas {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
}

